---
title: Type
---

<div class="container">
  <h2>Type</h2>

  <div class="type">
    <h1>In computer programming, boilerplate code or boilerplate is</h1>
    <p>the sections of code that have to be included in many places with little or no alteration. It is more often used when referring to languages that are considered verbose, i.e. the programmer must write a lot of code to do minimal jobs.</p>
    <h2>In computer programming, boilerplate code or boilerplate is</h2>
    <p>the sections of code that have to be included in many places with little or no alteration. It is more often used when referring to languages that are considered verbose, i.e. the programmer must write a lot of code to do minimal jobs.</p>
    <h3>In computer programming, boilerplate code or boilerplate is</h3>
    <p>the sections of code that have to be included in many places with little or no alteration. It is more often used when referring to languages that are considered verbose, i.e. the programmer must write a lot of code to do minimal jobs.</p>
    <h4>In computer programming, boilerplate code or boilerplate is</h4>
    <p>the sections of code that have to be included in many places with little or no alteration. It is more often used when referring to languages that are considered verbose, i.e. the programmer must write a lot of code to do minimal jobs.</p>
    <h5>In computer programming, boilerplate code or boilerplate is</h5>
    <p>the sections of code that have to be included in many places with little or no alteration. It is more often used when referring to languages that are considered verbose, i.e. the programmer must write a lot of code to do minimal jobs.</p>
    <h6>In computer programming, boilerplate code or boilerplate is</h6>
    <p>the sections of code that have to be included in many places with little or no alteration. It is more often used when referring to languages that are considered verbose, i.e. the programmer must write a lot of code to do minimal jobs.</p>
  </div>
</div>

<style type="text/css">

  .container {
    margin: auto;
    padding: 3em;
    max-width: 60em;
  }

  div.type {
    text-align: left;
    text-transform: none;
    letter-spacing: 0;
    font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  }

  h1 {
    font-size: 3em;
    font-weight: 300;
    margin-top: 2.2678em;
    margin-bottom: 1.1339em;
    line-height: 1.1339em; }
    h1 + h1, h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6 {
      margin-top: 0; }
    @media screen and (max-width: 32em) {
      h1 {
        font-size: 2.25em; } }

  h2 {
    font-size: 1.75em;
    font-weight: 500;
    margin-top: 2.55em;
    margin-bottom: 1.275em;
    line-height: 1.275em; }
    h2 + h1, h2 + h2, h2 + h3, h2 + h4, h2 + h5, h2 + h6 {
      margin-top: 0; }
    @media screen and (max-width: 32em) {
      h2 {
        font-size: 1.4em; } }

  h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 2.72em;
    margin-bottom: 1.36em;
    line-height: 1.36em; }
    h3 + h1, h3 + h2, h3 + h3, h3 + h4, h3 + h5, h3 + h6 {
      margin-top: 0; }
    @media screen and (max-width: 32em) {
      h3 {
        font-size: 1.2em; } }

  h4 {
    font-size: 1.25em;
    font-weight: 700;
    margin-top: 2.72em;
    margin-bottom: 1.36em;
    line-height: 1.36em; }
    h4 + h1, h4 + h2, h4 + h3, h4 + h4, h4 + h5, h4 + h6 {
      margin-top: 0; }
    @media screen and (max-width: 32em) {
      h4 {
        font-size: 1.125em; } }

  h5 {
    font-size: 1em;
    font-weight: 700;
    margin-top: 3.4em;
    margin-bottom: 1.7em;
    line-height: 1.7em; }
    h5 + h1, h5 + h2, h5 + h3, h5 + h4, h5 + h5, h5 + h6 {
      margin-top: 0; }

  h6 {
    font-size: 0.8em;
    font-weight: 700;
    margin-top: 4.25em;
    margin-bottom: 2.125em;
    line-height: 2.125em; }
    h6 + h1, h6 + h2, h6 + h3, h6 + h4, h6 + h5, h6 + h6 {
      margin-top: 0; }

</style>
